.container-info {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  text-align: center;
  font-family: Montserrat, sans-serif;
}

@media (min-width: 1280px) {
  .container-info {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.container-top {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  display: flex;
}

.container-top img {
  vertical-align: middle;
  /* animacion */
  -webkit-animation: slight-displacement 3s 2 alternate;
          animation: slight-displacement 3s 2 alternate;
}

@-webkit-keyframes slight-displacement {
  0%   {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
}

@keyframes slight-displacement {
  0%   {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
}

.container-bottom{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.slide-title {
  font-size: 1.5rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(52 52 52 / var(--tw-text-opacity));
}

@media (min-width: 640px) {
  .slide-title {
    font-size: 1.875rem;
  }
}

@media (min-width: 768px) {
  .slide-title {
    font-size: 2.25rem;
  }
}

@media (min-width: 1024px) {
  .slide-title {
    font-size: 3rem;
  }
}

@media (min-width: 1280px) {
  .slide-title {
    margin-top: 2.75rem;
  }

  .slide-title {
    font-size: 4rem;
  }
}

@media (min-width: 1536px) {
  .slide-title {
    font-size: 4.5rem;
    line-height: 1;
  }
}

.slide-content {
  font-size: 1rem;
  --tw-text-opacity: 1;
  color: rgb(112 110 110 / var(--tw-text-opacity));
}

@media (min-width: 640px) {
  .slide-content {
    font-size: 1.125rem;
  }
}

@media (min-width: 768px) {
  .slide-content {
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .slide-content {
    font-size: 1.5rem;
  }
}

@media (min-width: 1280px) {
  .slide-content {
    font-size: 1.875rem;
  }
}

@media (min-width: 1536px) {
  .slide-content {
    margin-top: 5rem;
  }

  .slide-content {
    font-size: 2.25rem;
  }
}