.cntImgError {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  margin-top: 30%;
}

.cntImgError img {
  max-width: 40rem;
  min-width: 18rem;
}

.info {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: large;
  font-weight: bold;
}