.container-info{
  @apply grid grid-cols-1 xl:grid-cols-2 font-Montserrat text-center;
}

.container-top{
  @apply mx-auto mb-16 flex;
}

.container-top img{
  @apply align-middle;
  /* animacion */
  animation: slight-displacement 3s 2 alternate;
}

@keyframes slight-displacement {
  0%   {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50px);
  } 
}

.container-bottom{
  width: 60%;
  @apply mx-auto;
}

.slide-title{
  @apply font-semibold text-2xl	sm:text-3xl	md:text-4xl	lg:text-5xl	xl:text-6xl	2xl:text-7xl xl:mt-11 text-darkBlack;
}

.slide-content{
  @apply text-base sm:text-lg md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl 2xl:mt-20 text-ligthBlack;
}