@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@import './Button.css';
@import './CreditCard.css';
@import './InformativeScreens.css';
@import './PasswdButton.css';
@import './Login.css';
@import './Spinner.css';
@import './Error404.css';
@import './Start.css';
@import './Logo.css';
@import './TransactionLabel.css';
